@import url('./table.scss');

body {
  background-color: #faf8fb;
}

#root {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}

header nav {
  box-shadow: 0 0 8px 0 rgb(86 61 124 / 13%);
}

.ribbon {
  position: absolute;
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.7);
  padding: 0.15rem 2rem;
  color: #fff;
  right: -1.5rem;
  top: 0.5rem;
  transform: rotate(45deg);
  z-index: 15;
  font-size: 12px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border1 {
  border-color: #d2b9b9;
}
