.vipContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.vipContainer .vipCard {
  text-align: center;
  background-color: #f7f7f7;
  padding: 8px 8px 8px 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.vipCard.checked {
  box-shadow: 0 0 8px 0 rgb(86 61 124 / 30%) !important;
}

.vipCard .vipItem {
  padding: 2px 0;
  font-size: 15px;
  border-bottom: 1px solid #eee;
}

.vipCard .vipItem:last-child {
  border: none;
}

.vipCard .vipItem .vipItemValue {
  padding-left: 3px;
  font-style: italic;
}
