.PageRank {
  .RankBanner {
    width: 100%;
    height: 160px;
    background: url('/assets/banner3.jpg') no-repeat center / cover;
    margin-bottom: 1rem;
  }

  table {
    word-break: keep-all;
  }
}
